/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 340px){
    .container{
      margin-inline: 1rem;
    }
  
    .section{
      padding-block: 4rem 1rem;
    }

    .about{
        height: 100%;
    }

    .gallery {
        height: 100%;
    }
  
     .dev_scanfilm-content{
      padding: 6rem 1rem 2rem;
     }
  
     .dev_scanfilm-form{
      flex-direction: column;
      background: none;
      row-gap: 1rem;
     }
  
     .dev_scanfilm-input{
      width: initial;
      padding: 1rem;
      border-radius: 4rem;
     }
  
     .dev_scanfilm-button{
      justify-content: center;
     }
  
     .footer-content{
      gap: 1.5rem;
     }
  
  }
  
  @media  screen and (min-width: 340px) {
    .nav{
      padding: 0 10px 0 10px;
    }

    .about{
        height: max-content;
    }
  }
  
  /* For medium devices */
  @media screen and (min-width: 576px){
    .home-container,
    .about-container,
    .gallery-container,
    .dev_scanfilm-container{
      grid-template-columns: .7fr;
      justify-content: center;
    }
    
    .about {
        height: max-content;
    }

    .nav{
      padding: 0 30px 0 30px;
    }
  
    .footer-content{
      grid-template-columns: repeat(3, max-content);
    }
  }
  
  @media screen and (min-width: 767px){
    .nav{
      column-gap: 3rem;
    }
  
    .nav-toggle,
    .nav-close,
    .nav-img-1,
    .nav-img-2{
      display: none;
    }
  
    .nav-list{
      flex-direction: row;
      column-gap: 3rem;
    }
  
    .nav-menu{
      margin-left: auto;
    }
  
    .dark-theme .nav-menu{
      box-shadow: none;
    }
  
    .footer-content{
      grid-template-columns: repeat(4, max-content);
    }
  
  }
  
  
  /* For large devices */
  @media screen and (min-width: 1024px) {
    .container{
      max-width: 100%;
    }
  
    .section{
      /* padding-block: 7rem 1.5rem; */
      padding: 0
      
    }
  
    .section-subtitle{
      margin-bottom: .75rem;
    }
  
    .nav{
      padding: 0 30px 0 30px;
      height: var(--header-height);
    }
  
    .home-container{
      position: relative;
      /* grid-template-columns: 480px 500px; */
      padding: 0;
      height: 100vh;
    }
  
    .about-container{
      grid-template-columns: 450px 360px;
      align-items: center;
      column-gap: 7rem;
      height: 100vh;
    }
  
    .about-data{
      order: 1;
    }
  
    .about .section-subtitle,
    .about .section-title{
      text-align: center;
    }
  
    .about-img{
      width: 100%;
    }
  
 
    .dev_scanfilm .dev_scanfilm-container{
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  
    .dev_scanfilm .dev_scanfilm-content{
      padding: 0 20% 0 20%;
    }
  
    .gallery .section-subtitle{
      text-align: center;
    }
  
    .dev_scanfilm .section-title{
      margin-bottom: 2.5rem;
    }
  
    .footer{
      padding-block: 8rem 3rem;
    }
  
    .footer-container{
      position: relative;
      grid-template-columns: repeat(2, max-content);
      justify-content: space-between;
    }
  
    .footer-content{
      column-gap: 4rem;
    }
  
    .footer-title,
    .footer-description,
    .footer-link,
    .footer-information{
      font-size: var(--normal-font-size);
    }
  
    .footer-social-link{
      font-size: 1.5rem;
    }
  
    .footer-info{
      flex-direction: row;
      justify-content: space-between;
      margin-top: 8.5rem;
    }
  
    .footer_copy{
      order: -1;
    }
  
    .scrollup{
      right: 3rem;
    }
  }
  
  @media screen and (min-width: 1064px) {
    .container{
      margin-inline: auto;
    }
  }
  